* {
	margin: 0px;
	padding: 0px;
}

html {
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

body {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9pt;
	color: #003366;
	line-height: 16px;
}

table {
	padding: 0;
	border: 0px none;
	width: 100%;
	margin: 0px;
	table-layout: auto;
}

p {
	color: #003366;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 5px;
	padding-top: 5px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 1em;
}

p.subText {
	color: #003366;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	font-size: 0.7em;
}

input,select,SELECT,INPUT {
	color: #0f2439;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 1em;

}
select {
	margin-top: 8px;
}

h1 {
	color: #003366;
	line-height: 34px;
	margin: 0px 0px 10px 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: 'Century Gothic', verdana, arial, sans-serif;
	font-size: 2.0em;
	font-weight: normal;
}

h1 span {
	background: #ffffff;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 15px;
	padding-top: 0px
}

ul#menuSections,ul#subMenuSections {
	border-bottom: 1px solid black;
	padding: 0 0;
	margin: 0 0;
}

ul#menuSections li,ul#subMenuSections li {
	display: inline;
	padding: 0 5px;
	margin: 0 0;
}

button {
	color: #ffffff;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12em;
}



/*--------horizontalBar---------------*/
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cc3333;
	margin: 1em 0;
	padding: 0;
	width: 98%;
	text-align: right;
}

.SubMenu a {
	text-decoration: none;
}

.anchorButton a {
	border-bottom: 1px solid #777777;
	border-left: 1px solid #000000;
	border-right: 1px solid #333333;
	border-top: 1px solid #000000;
	color: #000000;
	display: block;
	height: 2.5em;
	padding: 0 1em;
	width: 5em;
	text-decoration: none;
}

.screenHeader {
	font-size: 1.25em;
	color: #623e3c;
	font-weight: bold;
}

.summaryTable {
	margin: 0px 0px 0px 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border: thin;
	border: 1px;
	border-color: #003366;
}

.pageInfo {
	margin: 0px 0px 0px 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.boldText {
	font-weight: bold;
}

td ul {
	padding-left: 30px;
}

tr#oddRow {
	background-color: #D9EDFA;
}

tr#evenRow {
	background-color: white;
}

.requiredField {
	color: #cc3333;
	position: absolute;
	margin-left: -7px;
}

.requiredSection {
	color: #cc3333;
}

.hiddenBtn {
	width: 0px;
	height: 0px;
	border-width: 0px;
	background: none;
}

